[submodule "components/nixpi"]
	path = components/nixpi
	url = https://github.com/rePeek/nixpi
	branch = main
[submodule "components/nvim"]
	path = components/nvim
	url = https://github.com/rePeek/nvim
	branch = main
