[submodule "components/nixpi"]
	path = components/nixpi
	url = git@github.com:rePeek/nixpi.git
	branch = main
[submodule "components/nvim"]
	path = components/nvim
	url = git@github.com:rePeek/nvim.git
	branch = main
