
# Dolt database files (added by bd init)
.dolt/
*.db

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml
result

# Local tool caches
.cache/

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# codex
.codex
